:root{
  --color-bg: #040C18;
  --color-bg-nav: #040c1879;
  --color-footer : #031B34;
  --color-blog: #3a0f64;
  --color-text: #3f93e7;
  --color-subtext: #FF8A71;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: rgba(255, 255, 255, 0.763);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
