.navbar{
    background-color: var(--color-bg-nav);
    position: fixed;
    /* position: sticky; */
    width: 100vw;
    color: var(--color-text);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 10px 50px;
}

.nav-left{
    font-size: 25px;
}

.nav-right > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.763);
}

.nav-small{
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-bar{
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin-top: 9px;
}
.line{
    width: 25px;
    height: 2px;
    background-color: white;
}
.menu-list{
    position: absolute;
    right: -50%;
    top: 100px;
    text-align: right;
    line-height: 0px;
    animation: untoggle 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active,
.menu-list{
    background-color: var(--color-footer);
    /* box-shadow: 1px 2px 21px 1px rgba(5,45,86,0.75);
            -webkit-box-shadow: 1px 2px 21px 1px rgba(5,45,86,0.75);
            -moz-box-shadow: 1px 2px 21px 1px rgba(5,45,86,0.75); */
    padding: 10px 30px;
    border-radius: 12px;
}

.active{
    position: absolute;
    top: 100px;
    right: 10%;
    text-align: right;
    line-height: 0px;
    animation: toggle 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-small ul{
    padding-left: 0px;
}

.nav-small ul li{
    line-height: 30px;
    text-align: left;
}

@keyframes toggle {
    
    from{
        right: -50%;
    }
    to{
        right: 10%;
    }
}

@keyframes untoggle {
    from{
        right: 10%;
    }
    to{
        right: -50%;
    }

    
}


@media screen and (max-width: 820px) {
    .nav-large{
        display: none;
    }
    .nav-small{
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .navbar-container{
        padding: 10px 20px;
    }
}