.navbar{
    background-color: var(--color-bg-nav);
    position: fixed;
    /* position: sticky; */
    width: 100vw;
    /* color: var(--color-text); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 10px 50px;
}

.nav-left{
    font-size: 25px;
    font-weight: 700;
}

.nav-large ul li{
    transition: 1s ease;
}

.nav-large ul li:hover{
    color: #81afdd;
}

.nav-right > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.763);
}

.nav-small{
    display: none;
    align-items: center;
    justify-content: center;
}

.menu-bar{
    display: none;
    gap: 6px;
    flex-direction: column;
    margin-top: 9px;
}
.line{
    width: 25px;
    height: 2px;
    background-color: white;
}
.menu-list{
    position: absolute;
    /* position: fixed; */
    top: -270px;
    text-align: right;
    width: 100vw;
    animation: untoggle 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.active,
.menu-list{
    background-color: #040c18f6;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 30px;
    z-index: 100;
    max-width: 100vw;
}

ul li{
    cursor: pointer;
}

.active{
    position: absolute;
    /* position: fixed; */
    top: 50px;
    text-align: right;
    animation: toggle 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100vw;
    backdrop-filter: blur(10px);
}

.nav-small ul{
    padding-left: 0px;
    /* display: flex; */
}

.nav-small ul li{
    line-height: 50px;
    font-size: 20px;
    text-align: left;
}

.menu-bar{
    display: none;
}

@keyframes toggle {
    
    from{
        top: -270px;
    }
    to{
        top: 50px;
    }
}

@keyframes untoggle {
    from{
        top: 50px;
    }
    to{
        top: -270px;
    }
}




@media screen and (max-width: 820px) {
    .nav-large{
        display: none;
    }
    .nav-small{
        display: flex;
    }
    .menu-bar{
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .navbar-container{
        padding: 10px 20px;
    }
}